<f:be.container includeCssFiles="{1 :\"{f:uri.resource(path:'Css/Backend.css')}\"}">
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
					<f:be.buttons.csh />
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="{f:translate(key:\"layouts_backendmodule.menuStats\")}" controller="Backend" action="statistics" />
						<f:be.menus.actionMenuItem label="{f:translate(key:\"layouts_backendmodule.menuList\")}" controller="Backend" action="list" />
					</f:be.menus.actionMenu>
				</div>

			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
                <f:flashMessages as="flashMessages">
                    <f:for each="{flashMessages}" as="flashMessage">
                        <div class="typo3-messages">
                            <div class="alert alert-{flashMessage.class}">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="alert-message">
                                            <f:format.raw>{flashMessage.message}</f:format.raw>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </f:for>
                </f:flashMessages>
                <f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>
