{namespace vh=RKW\RkwMailer\ViewHelpers}
<f:layout name="BackendModule" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">

	<f:flashMessages />

	<f:form action="statistics" name="timeFrame">
		<f:render partial="Backend/Datepicker" arguments="{timeFrame:timeFrame}"/>
		<f:render partial="Backend/MailTypePicker" arguments="{mailTypeList:mailTypeList, mailType:mailType}"/>
	</f:form>


	<f:comment>
		f:be.widget.paginate objects="{sentMails}" as="sentMailListItem" configuration="{itemsPerPage: 2}"
	</f:comment>

		<table class="tx_rkwmailer" border="1" >
			<tr>
				<th><f:translate key="templates_backend_statistics.uid" /></th>
				<th><f:translate key="templates_backend_statistics.subject" /></th>
				<th><f:translate key="templates_backend_statistics.status" /></th>
				<th><f:translate key="templates_backend_statistics.realSending" /></th>
				<th><f:translate key="templates_backend_statistics.endSending" /></th>
				<th><f:translate key="templates_backend_statistics.mailsTotal" /></th>
				<th><f:translate key="templates_backend_statistics.statusTotal" /></th>
				<th><f:translate key="templates_backend_statistics.readTotal" /></th>
				<th><f:translate key="templates_backend_statistics.clicksTotal" /></th>
			</tr>

			<f:for each="{sentMailListItem}" as="mail" >
				<tr>
					<td>
						{mail.uid}
					</td>
					<td>
						<strong>
							<f:format.crop maxCharacters="250" respectWordBoundaries="false">{mail.subject}</f:format.crop>
						</strong>
					</td>
					<td class="center">
						<span class="status{mail.status}">
							<nobr><f:translate key="templates_backend_statistics.status.{mail.status}" /></nobr>
						</span>
					</td>
					<td class="center">
						<f:if condition="{mail.tstampRealSending}">
							<nobr><f:format.date format="d.m.Y H:i">{mail.tstampRealSending}</f:format.date></nobr>
						</f:if>
					</td>
					<td class="center">
						<f:if condition="{mail.tstampSendFinish}">
							<nobr><f:format.date format="d.m.Y H:i">{mail.tstampSendFinish}</f:format.date></nobr>
						</f:if>
					</td>
					<td class="center">
						<nobr>
							<span class="sent">
								{mail.sent}
							</span> /
							<span class="total">
								{mail.total}
							</span>
						</nobr>
					</td>
					<td class="center">
						<nobr>
							<span class="okay">
								{mail.successful}
							</span> /
							<span class="failed">
								{mail.failed}
							</span> /
							<span class="deferred">
								{mail.deferred}
							</span> /
							<span class="bounced">
								{mail.bounced}
							</span>
						</nobr>
					</td>
					<td class="center">
						<nobr>
							{mail.opened}
							(= <vh:calcPercentage percentage="{mail.opened}" total="{mail.successful}" />)
						</nobr>
					</td>
					<td class="center">
						<nobr>
							{mail.clicked}
							(= <vh:calcPercentage percentage="{mail.clicked}" total="{mail.successful}" />)
						</nobr>
					</td>
				</tr>
			</f:for>
		</table>

	<f:comment>
		/f:be.widget.paginate
	</f:comment>

</f:section>