{namespace vh=RKW\RkwMailer\ViewHelpers}
<f:layout name="BackendModule" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">

	<f:flashMessages />

	<f:form action="statistics" name="timeFrame">
		<f:render partial="Backend/Datepicker" arguments="{timeFrame:timeFrame}"/>
		<f:render partial="Backend/MailTypePicker" arguments="{queueMailTypeList:mailTypeList, mailType:mailType}"/>
	</f:form>


	<f:comment>
		f:be.widget.paginate objects="{sentMails}" as="sentMailListItem" configuration="{itemsPerPage: 2}"
	</f:comment>

		<table class="tx_rkwmailer" border="1" >
			<tr>
				<th><f:translate key="templates_backend_statistics.uid" /></th>
				<th><f:translate key="templates_backend_statistics.subject" /></th>
				<th><f:translate key="templates_backend_statistics.status" /></th>
				<th><f:translate key="templates_backend_statistics.realSending" /></th>
				<th><f:translate key="templates_backend_statistics.endSending" /></th>
				<th><f:translate key="templates_backend_statistics.mailsTotal" /></th>
				<th><f:translate key="templates_backend_statistics.statusTotal" /></th>
				<th><f:translate key="templates_backend_statistics.readTotal" /></th>
				<th><f:translate key="templates_backend_statistics.clicksTotal" /></th>
				<th>&nbsp;</th>
			</tr>

			<f:for each="{sentMailListItem}" as="queueMail" >
				<tr>
					<td>
						{queueMail.uid}
					</td>
					<td>
						<strong>
							<f:format.crop maxCharacters="250" respectWordBoundaries="false">{queueMail.subject}</f:format.crop>
						</strong>
					</td>
					<td class="center">
						<span class="status{queueMail.status}">
							<nobr><f:translate key="templates_backend_statistics.status.{queueMail.status}" /></nobr>
						</span>
					</td>
					<td class="center">
						<f:if condition="{queueMail.tstampRealSending}">
							<nobr><f:format.date format="d.m.Y H:i">{queueMail.tstampRealSending}</f:format.date></nobr>
						</f:if>
					</td>
					<td class="center">
						<f:if condition="{queueMail.tstampSendFinish}">
							<nobr><f:format.date format="d.m.Y H:i">{queueMail.tstampSendFinish}</f:format.date></nobr>
						</f:if>
					</td>
					<td class="center">
						<nobr>
							<span class="sent">
								{queueMail.sent}
							</span> /
							<span class="total">
								{queueMail.total}
							</span>
						</nobr>
					</td>
					<td class="center">
						<table>
							<tr>
								<td class="okay">
									{queueMail.successful}
								</td>
								<td>
									/
								</td>
								<td class="failed">
									{queueMail.failed}
								</td>
								<td>
									/
								</td>
								<td class="deferred">
									{queueMail.deferred}
								</td>
								<td>
									/
								</td>
								<td class="bounced">
									{queueMail.bounced}
								</td>
							</tr>
							<tr>
								<td class="okay">
									<vh:calcPercentage percentage="{queueMail.successful}" total="{queueMail.sent}" />
								</td>
								<td>
									/
								</td>
								<td class="failed">
									<vh:calcPercentage percentage="{queueMail.failed}" total="{queueMail.sent}" />
								</td>
								<td>
									/
								</td>
								<td class="deferred">
									<vh:calcPercentage percentage="{queueMail.deferred}" total="{queueMail.sent}" />
								</td>
								<td>
									/
								</td>
								<td class="bounced">
									<vh:calcPercentage percentage="{queueMail.bounced}" total="{queueMail.sent}" />
								</td>
							</tr>
						</table>
					</td>
					<td class="center">
						<table>
							<tr>
								<td>
									{queueMail.opened}
								</td>
							</tr>
							<tr>
								<td>
									<vh:calcPercentage percentage="{queueMail.opened}" total="{queueMail.successful}" />
								</td>
							</tr>
						</table>
					</td>
					<td class="center">
						<table>
							<tr>
								<td>
									{queueMail.clicked}
								</td>
							</tr>
							<tr>
								<td>
									<vh:calcPercentage percentage="{queueMail.clicked}" total="{queueMail.successful}" />
								</td>
							</tr>
						</table>
					</td>
					<td>
						<f:link.action action="clickStatistics" arguments="{queueMail:queueMail}" class="link">&gt;&gt; <f:translate key="templates_backend_statistics.clickStatistics" /></f:link.action>
					</td>
				</tr>
			</f:for>
		</table>

	<f:comment>
		/f:be.widget.paginate
	</f:comment>

</f:section>